Bottleneck==1.3.4
brotlipy==0.7.0
certifi==2022.5.18.1
cffi==1.15.0
click==8.0.4
dash==2.4.1
dash-bootstrap-components==1.1.0
dash-daq==0.5.0
Flask==2.1.2
Flask-Compress==1.5.0
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.0.1
mkl-service==2.4.0
numexpr==2.7.3
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pip==21.2.4
plotly==5.8.0
pycparser==2.21
pyparsing==3.0.4
python-dateutil==2.8.2
pytz==2021.3
raceplotly==0.1.6
setuptools==61.2.0
six==1.16.0
tenacity==8.0.1
Werkzeug==2.1.2
wheel==0.37.1
zipp==3.8.0
